<span class="inner-field-short-description">
{#
 # 2016-01-15 Daniele Artico
 # Hide link to object's editing page
 #}
{#    {% if object and admin.hasRoute('edit') and admin.isGranted('EDIT') %}                                          #}
{#        <a href="{{ admin.generateObjectUrl('edit', object, link_parameters) }}" target="new">{{ description }}</a> #}
{#    {% else %}                                                                                                      #}
        {{ description }}
{#    {% endif %}                                                                                                     #}
</span>
